
.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2F0DC;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-form-wrapper {
    width: 45%;
   
}

.contact-form {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.background-image {
    
    width: 35%;
    height: 50vh;
    background-image: url('../../assets/contacti1.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

